/* --- СТИЛИ КНОПОК И ШАПКИ --- */
.fc .fc-col-header-cell-cushion {
  display: inline-block;
  padding: 0.625rem 0rem; /* 10px 0px */
  color: rgb(0, 0, 0);
}

.fc .fc-toolbar {
  background-color: #000000;
  color: white;
  padding: 0.625rem; /* 10px */
  border-radius: 0.25rem; /* 4px */
  box-shadow: 0 0 10px rgba(255, 127, 0, 0.7);
}

.fc .fc-button {
  background-color: #ffffff;
  color: rgb(255, 127, 0);
  border: none;
  border-radius: 0.25rem; /* 4px */
  padding: 0.375rem 0.75rem; /* 6px 12px */
  font-weight: 600;
  transition: 0.3s background-color;
}
.fc .fc-button:hover {
  background-color: rgb(255, 127, 0);
  color: #fff;
}
.fc .fc-button-active {
  background-color: #ffffff;
  color: rgb(255, 127, 0);
}
.fc .fc-button:disabled {
  background-color: #eee;
  color: #999;
  cursor: not-allowed;
}
/* месяц */
.fc .fc-toolbar-title {
  font-size: 1.25rem; /* 20px */
}

.fc-col-header {
  border: 1px solid rgb(255, 127, 0);
}

/* день недели  */
.fc-col-header-cell {
  background-color: rgb(255, 127, 0);
}

/* день недели текст */
.fc .fc-col-header-cell-cushion {
  color: rgb(255, 255, 255);
}

/* --- СТИЛИ ЯЧЕЕК ДНЕЙ --- */
.fc-view-harness.fc-view-harness-active {
  height: 43.75rem !important; /* 700px */
  overflow: hidden;
  border: 1px solid rgb(255, 127, 0);
}

/* день число */
.fc .fc-daygrid-day-frame {
  padding: 0.25rem;
  color: rgb(255, 127, 0);
}

.fc-theme-standard td {
  border: 1px solid rgb(255, 127, 0);
}

.fc .fc-daygrid-event {
  height: auto !important;
  white-space: normal;
  display: block;
  margin: 0.25rem 0;
}

.fc .fc-daygrid-day.fc-day-today {
  background-color: rgb(255, 127, 0);
}

/* color today number */
.fc .fc-day-today .fc-daygrid-day-number {
  color: rgb(255, 255, 255);
  font-weight: 700;
  font-size: 20px;
}
/* event wrapper */
.fc-h-event {
  box-shadow: 0px 0px 2px rgb(0, 0, 0);
  border: none;
  border-radius: 2px;
}

/* --- СОБЫТИЯ --- */
.fc-event-main-frame {
  display: none;
}
.event-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.75rem; /* 12px */
  text-align: center;
  padding: 10px 20px; /* 10px */
  background-color: #000000;
  border: 1px solid rgb(255, 127, 0);
  border-radius: 2px;
}

.event-top {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.625rem;
  margin-bottom: 0.25rem;
}
.team {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  align-items: center;
  color: rgb(255, 255, 255);
  transition: 0.3s all ease 0s;
}
.team:hover {
  color: rgb(255, 127, 0);
}

.team-logo {
  width: 2rem;
  height: 2rem;
  object-fit: contain;
}
.team-code {
  font-weight: bold;
  font-size: 15px;
  text-transform: uppercase;
}
.time {
  font-size: 20px;
  font-weight: bold;
  min-width: 1.875rem;
  color: rgb(255, 127, 0);
}
.event-bottom {
  margin-top: 0.25rem;
}

.match-center-btn {
  display: inline-block;
  padding: 0.25rem 0.5rem;
  border: 2px solid rgb(255, 127, 0);
  border-radius: 20px;
  font-size: 16px;
  color: #ffffff;
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #000;
  transition: 0.3s all;
}
.match-center-btn:hover {
  background-color: rgb(255, 127, 0);
  border-color: #fff; /* белая рамка */
  box-shadow: 0 0 10px rgba(255, 127, 0, 0.7);
  transform: scale(1.05);
}

@media (max-width: 1299.98px) {
  .event-wrapper {
    padding: 10px; /* 10px */
  }
  .team-logo {
    width: 30px;
    height: 30px;
    object-fit: contain;
  }
  .team-code {
    font-weight: bold;
    font-size: 0.75rem;
  }
  .time {
    font-size: 15px;
    font-weight: bold;
  }
  .match-center-btn {
    padding: 0.25rem 0.375rem; /* 4px 6px */

    font-size: 11px;
  }
}

@media (max-width: 991.98px) {
  .fc .fc-daygrid-day-top {
    background-color: rgb(255, 127, 0);
    padding: 0.625rem; /* 10px */
  }

  .fc .fc-daygrid-day-top a {
    color: #fff;
    font-size: 1.25rem; /* 20px */
  }
  .fc-daygrid-body,
  .fc-daygrid-week {
    display: flex;
    flex-direction: column;
  }

  .fc-daygrid-day:not(:has(.fc-event)) {
    display: none;
  }

  .fc-col-header {
    display: none;
  }

  .fc-daygrid-day {
    display: block;
    width: 100% !important;
    box-sizing: border-box;
    padding: 0.625rem; /* 10px */
  }

  .event-wrapper {
    background-color: #000000;
  }

  .fc-event {
    width: 100%;
    margin: 0 auto;
  }

  .team-logo {
    width: 2.8125rem; /* 45px */
    height: 2.8125rem; /* 45px */
    object-fit: contain;
  }
  .team-code {
    font-weight: bold;
    font-size: 1.125rem;
    color: #ffffff;
  }
  .time {
    font-size: 1.5rem;
    font-weight: bold;
    min-width: 1.875rem;
    color: rgb(255, 127, 0);
  }
  .match-center-btn {
    padding: 0.5rem 0.9375rem; /* 8px 15px */
    font-size: 1rem; /* 16px */
    width: 100%;
  }
}

@media (max-width: 449.98px) {
  .event-bottom {
    width: 100%;
  }
}
