.video__section {
  background-image: url('../images/97991e43cc3cbe2a6b3f22d74f06f176.jpg');
  background-position-x: left;
  background-repeat: repeat-y;
  background-size: 30%;
}
.video__block--big {
  position: relative;
  color: rgb(255, 255, 255);
  width: 100%;
}

.video__img_block--big {
  padding-bottom: 40%;
}

.video__img {
  object-position: 100% 0%;
}

.video__text_block {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 2vw;
}

.video__title--big {
  font-size: clamp(24px, 5vw, 55px);
  font-weight: 700;
  text-transform: uppercase;
}

.video__score_icon {
  height: clamp(30px, 6vw, 70px);
}

.splide {
  gap: 15px;
  width: 80%;
  margin: -120px auto 0 auto;
  background: #b48b4b;
  padding: 15px;
  position: relative;
  z-index: 20;
}

.splide__list {
  width: 100%;
}

.video__item {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.video__slider_item {
  border: 1px solid #b48b4b;
}

.video__img_block {
  padding-bottom: 60%;
}

.video-slider__img_block {
  padding-bottom: 70%;
}

.video__footer {
  padding: 10px 15px;
  text-transform: capitalize;
  flex-grow: 1;
}

.video__title, .video-slider__title {
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: rgb(0, 0, 0);
}

.videos__section {
  margin-bottom: 20px;
}
.video__items_rows {
  column-gap: 15px;
  row-gap: 15px;
}

@media (max-width: 991.98px) {
  .video__img_block--big {
    padding-bottom: 55%;
  }

  .video__img_block {
    padding-bottom: 55%;
  }
}

@media (max-width: 767.98px) {
  .splide {
    width: 100%;
  }
}

@media (max-width: 649.98px) {
  .video__img_block--big {
    padding-bottom: 65%;
  }

  .video__title {
    font-size: 18px;
  }
}

@media (max-width: 499.98px) {
  .splide {
    margin-top: -60px;
    padding: 5px;
  }

  .video__item {
    border: 1px solid #ffffff;
  }

  .video__slider_item {
    border: 1px solid #b48b4b;
  }

  .video__img_block {
    padding-bottom: 40%;
  }
  .video__item .label {
    font-size: 12px;
  }

  .video__title {
    font-size: 14px;
  }
}
