<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>calendar</title>
    <meta name="description" content="This is a calendar." />

    <link rel="stylesheet" href="/css/styles.css" />
  </head>

  <body>
    <div class="wrapper">
    
      <main class="main">
        <section class="calendar__section section top-section">
          <div class="container">
            <div class="title__block">
              <img
                class="title__icon"
                src="/images/491d6c963800b8703a28556d01de5771.png"
              />
              <p class="subtitle">events</p>
              <h2 class="title">calendar</h2>
            </div>
            <div id="calendar"></div>
          </div>
        </section>
      </main>
   
    </div>
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.18/index.global.min.js"></script>
    <script type="module" src="/js/menuBurger.js"></script>
    <script type="module" src="/js/calendar.js"></script>
  </body>
</html>
