<header class="header">
  <div class="container">
    <div class="header__content">
      <a class="header__logo_link" href="/">
        <img
          class="header__logo_img"
          alt="logo"
          src="/images/5ee74aa594530d039f67b2923e3d7f7e.png"
        />
      </a>
      <nav class="header__nav">
        <ul class="header__nav_list">
          <li>
            <a class="header__nav_link" href="/pages/post.html">post</a>
          </li>
          <li>
            <a class="header__nav_link" href="/pages/video-post.html"
              >video post</a
            >
          </li>
          <li>
            <a class="header__nav_link" href="/pages/news.html">news</a>
          </li>
          <li>
            <a class="header__nav_link" href="/pages/stats.html">stats</a>
          </li>
          <li>
            <a class="header__nav_link" href="/pages/review.html">review</a>
          </li>
          <li>
            <a class="header__nav_link" href="/pages/calendar.html">calendar</a>
          </li>
          <li>
            <a class="header__nav_link" href="/pages/results.html">results</a>
          </li>
          <li>
            <a class="header__nav_link" href="/pages/video.html">video</a>
          </li>
          <li>
            <a class="header__nav_link" href="/pages/lives.html">lives</a>
          </li>
          <li>
            <a class="header__nav_link" href="/pages/team.html">team</a>
          </li>
          <li>
            <a class="header__nav_link" href="/pages/teams.html">teams</a>
          </li>
          <li>
            <a class="header__nav_link" href="/pages/player.html">player</a>
          </li>
          <li>
            <a class="header__nav_link" href="/pages/contact.html">contact</a>
          </li>
        </ul>
      </nav>
      <button class="header__burger">
        <span class="header__burger-line"></span>
      </button>
    </div>
  </div>
</header>
